@media only screen and (min-width: 64rem) {
  body {
    background-image: url(../assets/images/background-pattern-desktop.svg);
  }

  h1 {
    font-size: 3.5rem;
  }

  .star-icon {
    width: auto;
  }

  button {
    font-size: 1.12rem;

  }

  p {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .accordion {
    width: 36%;
    padding: 40px 40px 20px;
    border-radius: 15px;
    margin-top: 13px;
  }

  .container{
    padding: 15px 0;
  }
}

